<div id="footer">

  <p>© 2010 <a href="https://github.com/tvcutsem/es-lab#readme">es-lab</a> |
  Code: <a href=
  "http://www.apache.org/licenses/LICENSE-2.0">Apache License
  2.0</a> | Content: <a href=
  "http://creativecommons.org/licenses/by/3.0/">Creative Commons
  3.0 BY</a></p>
  <!-- THIS AddThis SCRIPT LOOKS LIKE A LEFT OVER - SHOULD PROBABLY BE DELETED?
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bba2a1002c95447" async></script>-->
  <!-- AddThis Button END -->
  </p>

  <div id="breadcrumbcontainer">
    <!-- Start the breadcrumb wrapper -->
  </div><!-- End breadcrumb -->
</div><!-- End Footer -->
